---
import aspectEmber from '@/assets/images/aspect-ember.png'
import aspectloafykitten from '@/assets/images/aspect-loafykitten.png'
import aspectMusic from '@/assets/images/aspect-music.png'
import bgLanding from '@/assets/images/bg-landing.jpg'
import AspectBlurb from '@/features/aspects/AspectBlurb.astro'
import AspectCard from '@/features/aspects/AspectCard.astro'
import AspectCardSelection from '@/features/aspects/AspectCardSelection.astro'
import AspectCopyContainer from '@/features/aspects/AspectCopyContainer.astro'
import AspectGreeting from '@/features/aspects/AspectGreeting.astro'
import { isMusicEnabled } from '@/features/music/music-enabled'
import IslandLayout from '@/layouts/IslandLayout.astro'
import type { BgImageMetadata } from '@/types'

const aspects = [
    {
        name: 'loafykitten',
        href: '/vtuber',
        imgSrc: aspectloafykitten,
        greeting: "i'm fenn",
        blurb: 'twitch! youtube! sometimes!',
        subBlurb: 'come peek at me (please)',
    },
    {
        name: 'ember',
        href: '/portfolio',
        imgSrc: aspectEmber,
        greeting: "i'm ember",
        blurb: 'i do backend stuff!',
        subBlurb: "come see what i'm working on (please)",
    },
    ...(isMusicEnabled
        ? [
              {
                  name: 'music',
                  href: '/music',
                  imgSrc: aspectMusic,
                  greeting: "i'm loafykitten",
                  blurb: 'lofi for the whole family!',
                  subBlurb: 'come listen to my noises (please)',
              },
          ]
        : []),
]

const background: BgImageMetadata = {
    url: bgLanding,
    artistMetadata: {
        artist: 'Pixabay',
        artistUrl: 'https://pixabay.com/illustrations/cloud-stars-ocean-reflection-5946381/',
    },
    pageBg: '#024e50',
}
---

<IslandLayout
    title="homepage"
    description="loafykitten — streamer, software engineer, and lofi artist."
    bgImageMetadata={background}
>
    <section class="landing">
        <AspectCopyContainer>
            {aspects.map(({ name, greeting }) => <AspectGreeting aspect={name} greeting={greeting} />)}
        </AspectCopyContainer>

        <AspectCardSelection>
            {aspects.map(({ name, href, imgSrc }) => <AspectCard aspect={name} href={href} imgSrc={imgSrc} />)}
        </AspectCardSelection>

        <AspectCopyContainer>
            {
                aspects.map(({ name, blurb, subBlurb }) => (
                    <AspectBlurb aspect={name} blurb={blurb} subBlurb={subBlurb} />
                ))
            }
        </AspectCopyContainer>
    </section>
</IslandLayout>

<style>
    .landing {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    @media (hover: none) {
        .landing {
            padding-bottom: 5rem;
        }
    }
</style>
